@import 'tailwindcss';

@import './custom.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Open Sans', sans-serif;

    --color-darkPrimary: #0d0a2c;
    --color-darkText: #fafafa;
    --color-primary: #f5f5f5;
    --color-text: #0d0a2c;
}
