@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Open Sans', sans-serif;

    --color-primary: #0d0a2c;
    --color-text: oklch(98.5% 0 0);
}
