/* Elements */
section:not(#chat) {
    @apply max-w-7xl mx-auto p-8;
}

section:not(#about, #chat) h2 {
    @apply text-center pb-8;
}

section:not(#chat) h2 {
    @apply text-5xl my-8;
}

h3 {
    @apply text-2xl mb-2;
}

h4 {
    @apply text-center font-semibold;
}

#contact label {
    @apply mb-4;
}

label {
    @apply block text-sm gap-1;

    input,
    textarea {
        @apply mt-2;
    }

    span {
        @apply text-red-700 dark:text-red-500 text-xs ml-0.5;
    }
}

form {
    @apply px-6 py-4;
}

input,
textarea,
.btn,
.btn-secondary,
.btn-disabled {
    @apply w-full rounded-md px-3 py-1.5;
}

/* Classes */
.glass,
.white-glass {
    @apply border backdrop-blur-lg transition-colors duration-300;

    &#chatNotice {
        @apply absolute bottom-10.5 right-8.5 rounded-2xl rounded-br-none p-4 text-xs w-38;
    }
}

.soft-img {
    @apply shadow border border-white/5 rounded-lg w-full max-w-md mx-auto self-stretch object-cover;
}

main .glass,
main .white-glass {
    @apply shadow rounded-lg;
}

#chat {
    @apply rounded-none sm:rounded-lg;
}

.close {
    @apply flex absolute bg-pink-700 hover:bg-pink-600 text-white font-bold text-xs aspect-square w-6 h-6 hover:scale-110 rounded-full items-center justify-center border border-white/15 cursor-pointer transition-[colors,scale] duration-500;
}



.glass {
    @apply bg-violet-950/2 dark:bg-violet-950/12 shadow-black/10 border-black/5 dark:border-white/5;

    .milky {
        @apply bg-white/25 dark:bg-white/10 border border-white/10 shadow;
    }
}

.white-glass {
    @apply bg-white/90 dark:text-text border-indigo-950/5 dark:border-indigo-950/25;

    .contrastic {
        @apply bg-darkPrimary/85 text-darkText shadow border border-white/40;
    }
}

.btn,
.btn-secondary,
.btn-circle,
.btn-disabled {
    @apply h-fit shadow border-y border-t-white/15 border-b-black/10  bg-linear-to-r text-white font-medium cursor-pointer disabled:cursor-not-allowed transition-colors duration-300;
}

.btn {
    @apply from-emerald-500 to-teal-500 hover:from-emerald-400 hover:to-teal-400;
}

.btn-secondary {
    @apply from-indigo-500 to-purple-500 hover:from-indigo-400 hover:to-purple-400;
}

.btn-disabled {
    @apply from-mauve-300 to-olive-300 text-white/80 dark:from-mauve-500 dark:to-taupe-500 dark:text-white/50 cursor-not-allowed;
}

.btn-circle {
    @apply aspect-square rounded-full from-purple-600 to-pink-600 not-disabled:hover:from-purple-500 not-disabled:hover:to-pink-500;
}

.type-skill {
    @apply text-xl text-center mb-4;
}

/* Animations */
@keyframes shake {
    10%,
    90% {
        transform: translate3d(-2px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(4px, 2px, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-3px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(2px, -2px, 0);
    }
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    h2 {
        @apply text-3xl text-center mb-4;
    }

    h3 {
        @apply text-xl text-center;
        &:not(.type-skill) {
            @apply text-left;
        }
    }

    h4 {
        @apply text-center font-semibold;
    }

    .icon {
        @apply inline-block w-7 h-7 text-primary bg-text/80 rounded-full p-1 shadow border border-white/15;
    }

    .type-skill {
        @apply mb-4;
    }
}
